{{ define "main" }}
<article id="top" class="clearfix">
    <h2>{{ .Title }}</h2>
    <div class="post-content">
        {{ .Content }}
    </div>
</article>

{{ range (.Paginate (where .Site.RegularPages "Type" "posts")).Pages }}
<article id="post-{{ .File.UniqueID }}">
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    
    {{ if .Params.tags }}
    tags:
    {{ range .Params.tags }}
    <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ if not (eq . (index $.Params.tags (sub (len $.Params.tags) 1))) }},{{ end }}
    {{ end }}
    {{ end }}
    
    <div class="post-header">
        @ <span class="timestamp">{{ .Date.Format "02/01/2006" }}</span>
    </div>
    
    <div class="post-content">
        {{ if .Summary }}
        <p>{{ .Summary }}</p>
        {{ else }}
        <p>{{ .Content | truncate 300 }}</p>
        {{ end }}
    </div>
    
    <a href="{{ .Permalink }}">Read more...</a>
</article>
{{ end }}

{{ template "_internal/pagination.html" . }}
{{ end }}
